<div id="<%= dom_id purchase_order %>">
  <p>
    <strong>Vendor:</strong>
    <%= purchase_order.vendor %>
  </p>

  <p>
    <strong>Product:</strong>
    <%= purchase_order.product %>
  </p>

</div>
